.dz {
    .block {
        display: block;
    }

    .bg-white {
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255/var(--tw-bg-opacity));
    }

    .justify-center {
        justify-content: center;
    }

    .items-start {
        align-items: flex-start;
    }

    .flex-col {
        flex-direction: column;
    }

    .w-full {
        width: 100%;
    }

    .h-full {
        height: 100%;
    }

    .flex {
        display: flex;
    }

    .border-gray-500 {
        border-color: rgb(107 114 128) !important;
    }

    .border-dashed {
        border-style: dashed !important;
    }

    .border {
        border-width: 1px !important;
    }

    .rounded {
        border-radius: .25rem !important;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .py-8 {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }

    .bg-gray-50 {
        --tw-bg-opacity: 1;
        background-color: rgb(249 250 251/var(--tw-bg-opacity));
    }

    .gap-3 {
        gap: .25rem;
    }

    .items-center {
        align-items: center;
    }

    .text-gray-500 {
        --tw-text-opacity: 1;
        color: rgb(107 114 128/var(--tw-text-opacity));
    }

    .w-4{
        width: 1.4rem;
    }

    .w-6 {
        width: 1.5rem;
    }

    .h-4 {
        height: 1.4rem;
    }

    .h-6 {
        height: 1.5rem;
    }

    .text-gray-600 {
        --tw-text-opacity: 1;
        color: rgb(75 85 99/var(--tw-text-opacity));
    }

    .bg-gray-100 {
        --tw-bg-opacity: 1;
        background-color: rgb(243 244 246/var(--tw-bg-opacity));
    }

    .hidden {
        display: none;
    }

    .justify-between {
        justify-content: space-between;
    }

    .mt-2 {
        margin-top: .5rem;
    }

    .text-sm {
        font-size: .875rem;
        line-height: 1.25rem;
    }

    .text-xs {
        font-size: .75rem !important;
    }

    .gap-2 {
        gap: .5rem;
    }

    .text-gray-200 {
        --tw-text-opacity: 1;
        color: rgb(229 231 235/var(--tw-text-opacity));
    }

    .fill-blue-600 {
        fill: #2563eb;
    }

    .w-5 {
        width: 1.25rem;
    }

    .h-5 {
        height: 1.25rem;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }

    .gap-y-2 {
        row-gap: .5rem;
    }

    .gap-x-10 {
        -moz-column-gap: 2.5rem;
        column-gap: 2.5rem;
    }

    .justify-start {
        justify-content: flex-start;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .mt-5 {
        margin-top: 1.25rem !important;
    }

    .border-gray-200 {
        border: 1px solid #e5e7eb;
    }

    .overflow-hidden {
        overflow: hidden;
    }

    .w-14 {
        width: 3.5rem;
    }

    .h-14 {
        height: 3.5rem;
    }

    .w-8 {
        width: 2rem;
    }

    .h-8 {
        height: 2rem;
    }

    .gap-1 {
        gap: .25rem;
    }

    .text-slate-900 {
        --tw-text-opacity: 1;
        color: rgb(15 23 42/var(--tw-text-opacity));
        max-width: 187px;
    }

    .font-medium {
        font-size: .875rem !important;
        line-height: 1.25rem !important;
        font-weight: 500;
    }

    .text-center {
        text-align: left !important;
    }

    .mr-3 {
        margin-right: .75rem;
    }

    .text-black {
        --tw-text-opacity: 1;
        color: rgb(0 0 0/var(--tw-text-opacity));
    }


    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .animate-spin {
        animation: spin 1s linear infinite;
        fill: #2563eb !important;
    }

    .flex.items-center button {
        border: 0 solid #e5e7eb;
        background-color: initial;
        background-image: none;
    }

    .max-w-48 {
        max-width: 12rem;
    }

    .cancel-upload{
        cursor: pointer;
        color: #b31313 !important;
    }
}
