@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "bootstrap-toaster/dist/css/bootstrap-toaster.min.css";
@import "tom-select/dist/css/tom-select.bootstrap5.min.css";
@import 'flatpickr/dist/flatpickr.min.css';
